<div class="register-container">
  <h2>Create an Account</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
       
      />
      <p class="error" [class.active]="form.get('email')?.invalid && form.get('email')?.touched">
        This email is invalid.
      </p>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
     
      />
      <input type="checkbox" onclick="password.type=this.checked?'text' : 'password'">
      <span>Show Password</span>
      <p class="error" [class.active]="form.get('password')?.invalid && form.get('password')?.touched">
        Password nust have 6 characters.
      </p>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        id="pwd2"
        type="password"
        formControlName="confirmPassword"
       
      />
      <input type="checkbox" onclick="pwd2.type=this.checked?'text' : 'password'">
      <span>Show Password</span>
      <p class="error" [class.active]="form.get('confirmPassword')?.invalid && form.get('confirmPassword')?.touched">
        Confirm Password
      </p>
    </div>

    <button type="submit" [disabled]="form.invalid">Sign IN</button>
  </form>

  <p class="error" [class.active]="error">
    Error on register, Try again later.
  </p>

  <p>¿Do you have an account? <a [routerLink]="['/']">Log in</a></p>
</div>

