<div class="login-container" [class.fade-out]="isFadingOut" >
  <!-- <h2>get in</h2> -->

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        formControlName="email"
        class="form-control"
        [class.is-invalid]="form.get('email')?.invalid && form.get('email')?.touched"
      />
      <div
        class="invalid-feedback"
        [hidden]="!form.get('email')?.errors?.['required'] || !form.get('email')?.touched"
      >
        Introduce an email.
      </div>
      <div
        class="invalid-feedback"
        [hidden]="!form.get('email')?.errors?.['pattern'] || !form.get('email')?.touched"
      >
        Invalid email.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        class="form-control"
        [class.is-invalid]="form.get('password')?.invalid && form.get('password')?.touched"
      />
      
      <input type="checkbox" onclick="password.type=this.checked?'text' : 'password' "><span >Show Password</span>
      <div
        class="invalid-feedback"
        [hidden]="!form.get('password')?.errors?.['required'] || !form.get('password')?.touched"
      >
        Introduce password.
      </div>
    </div>

    <div class="alert alert-danger mt-2" [hidden]="!error">
      Emaii or Password invalid.
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Log in
    </button>
    <button type="button" class="btn btn-secondary ml-2" (click)="guestLogin()">
      Log in like guest
    </button>
  </form>

  <div class="google-login mt-4">
    <!--
    <button type="button" class="btn btn-outline-danger" (click)="onGoogleSignIn()">
      Ingresar con Google
    </button>
    -->
  </div>

  <div class="register-link mt-3">
    <p>¿Don't you have an account yet? <a [routerLink]="['/register']">Sign in</a></p>
  </div>
</div>